<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Projects</title>
</head>
<body>

    <div class="container mx-auto p-4" style="margin-bottom: 65px;">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/189791362?s=400&u=ab975ad7aa30d5d7c242268ca6dc6c53116bf149&v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">my-first-website</h3>
                <p>การใช้ Git กับการพัฒนาเว็บไซต์พื้นฐาน</p>
                <p>Technologies: HTML : 73%, CSS : 27%</p>
                <a href="https://github.com/66160003/my-first-website.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>                 

            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/189850145?v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">web-semantic-lab</h3>
                <p>การพัฒนาเว็บด้วย Modern HTML และ Semantic Markup</p>
                <p>Technologies: HTML : 100%</p>
                <a href="https://github.com/NekomaNaJa/web-semantic-lab.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>

            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/189850379?v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">css-fundamentals-lab</h3>
                <p>ฝึกใช้งาน CSS Fundamentals</p>
                <p>Technologies: HTML : 58.6%, CSS : 41.4%</p>
                <a href="https://github.com/66160153waaa/css-fundamentals-lab.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>

            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/158211303?v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">week4-grid-lab</h3>
                <p>ฝึกใช้งาน Advanced CSS and Grid</p>
                <p>Technologies: HTML : 39.1%, CSS : 50.5% JavaScript : 10.4%</p>
                <a href="https://github.com/anczzwx/week4-grid-lab.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>

            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/189850379?v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">Travel-Web-hw1</h3>
                <p>พัฒนาเว็บไซต์แนะนำสถานที่ท่องเที่ยวในจังหวัดบ้านเกิดด้วย HTML5 และ CSS (ชลบุรี)</p>
                <p>Technologies: HTML : 76.2%, CSS : 23.8%</p>
                <a href="https://github.com/NekomaNaJa/Travel-Web-hw1.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>

            <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                <img src="https://avatars.githubusercontent.com/u/158211303?v=4" alt="Project Image" class="w-32 h-32 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                <h3 class="text-lg font-semibold">Travel-Singburi</h3>
                <p>พัฒนาเว็บไซต์แนะนำสถานที่ท่องเที่ยวในจังหวัดบ้านเกิดด้วย HTML5 และ CSS (สิงห์บุรี)</p>
                <p>Technologies: HTML : 69.8%, CSS : 30.2%</p>
                <a href="https://github.com/anczzwx/Travel-Singburi.git" target="_blank" class="text-blue-500">GitHub</a>
            </div>
        </div>
    </div>

</body>
</html>
