<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Projects</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Portugal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mx-auto p-4">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col">
                <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                    <img src="https://avatars.githubusercontent.com/u/189791362?s=400&u=ab975ad7aa30d5d7c242268ca6dc6c53116bf149&v=4" alt="Project Image" class="w-50 h-40 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                    <h3 class="text-lg font-semibold">my-first-website</h3>
                    <p>การใช้ Git กับการพัฒนาเว็บไซต์พื้นฐาน</p>
                    <p>Technologies used: HTML : 73%, CSS : 27%</p>
                    <a href="https://github.com/66160003/my-first-website.git" target="_blank" class="text-blue-500">GitHub</a>
                </div>                
            </div>
            <div class="col">
                <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                    <img src="https://avatars.githubusercontent.com/u/189850145?v=4" alt="Project Image" class="w-50 h-40 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                    <h3 class="text-lg font-semibold">web-semantic-lab</h3>
                    <p>การพัฒนาเว็บด้วย Modern HTML และ Semantic Markup</p>
                    <p>Technologies used: HTML : 100%</p>
                    <a href="https://github.com/NekomaNaJa/web-semantic-lab.git" target="_blank" class="text-blue-500">GitHub</a>
                </div>
            </div>
            <div class="col">
                <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                    <img src="https://avatars.githubusercontent.com/u/189850379?v=4" alt="Project Image" class="w-50 h-40 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                    <h3 class="text-lg font-semibold">css-fundamentals-lab</h3>
                    <p>ฝึกใช้งาน CSS Fundamentals</p>
                    <p>Technologies used: HTML : 58.6%, CSS : 41.4%</p>
                    <a href="https://github.com/66160153waaa/css-fundamentals-lab.git" target="_blank" class="text-blue-500">GitHub</a>
                </div>
            </div>
            <div class="col">
                <div class="project-card bg-white p-6 rounded-lg shadow-lg text-center">
                    <img src="https://avatars.githubusercontent.com/u/158211303?v=4" alt="Project Image" class="w-50 h-40 object-cover rounded-full mx-auto mb-4 border-4 border-gray-200 shadow-md">
                    <h3 class="text-lg font-semibold">week4-grid-lab</h3>
                    <p>ฝีกใช้งาน Advanced CSS and Grid</p>
                    <p>Technologies used: HTML : 39.1%, CSS : 50.5% JavaScript : 10.4%</p>
                    <a href="https://github.com/anczzwx/week4-grid-lab.git" target="_blank" class="text-blue-500">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
